.background-layout {
    align-items: center;
    background: url(/images/bg.jpg);
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.box-layout {
    padding: $m-size;
    height: 70vh;
    width: 70vw;
    h1 {
        color: white;
        font-family: 'Noto Serif', serif;
        font-size: $font-size-xxl;
        line-height: 1.4em;
        margin-bottom: 2px;
        margin-top: 0;
        text-align: center;
        @media (max-width: 450px) {
            font-size: $font-size-xl;
        }
    }
    p {
        color: white;
        margin-bottom: 48px;
        text-align: center;
    }
}

.thin-line {
    background: white;
    border-radius: 10px;
    height: 3px;
    margin-left: 40%;
    width: 20%;
}