// Colors
$orange: #ff5a4e;
$rose: #cb465b;
$plum: #9a3367;
$purple: #621c59;

// Gradients
$main-gradient: linear-gradient(90deg, rgba(255,90,78,1) 0%, rgba(98,28,89,1) 100%);

// Font Size
$font-size-xxl: 8rem;
$font-size-xl: 4rem;
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$xs-size: 1.0rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;